body {
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

#logo {
    margin-left: 20%;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-left: auto;
    margin-right: 20%;
}

.top-part {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.left-side > button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 8px 28px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
}

#awesome {
    font-size: 48px;
    font-weight: bolder;
}

#awesome-text {
    font-size: 18px;
    color: #F9FAF8;
}

.info-text {
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.pictures-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 60px;
    gap: 52px;
}

.sections {
    display: flex;
    gap: 52px;
    padding-bottom: 52px;
}

.text-and-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    width: 200px;
}

.text-and-info > img {
    border-radius: 8px;
    border: 4px solid #3882F6;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5e7eb;
    padding-right: 30%;
    padding-top: 200px;
    padding-bottom:200px;
    padding-left: 30%;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    font-style:oblique;
    font-weight: 100;
    color: #1f2937;
}

.last-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-section {
    display: flex;
    flex: none;
    background-color: #3882F6;
    font-size: 16px;
    color: white;
    padding: 50px 120px;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    gap: 80px;
}

#call-to-action {
    font-weight: bolder;
    font-size: 18px;
}

.sign-up-section > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    padding: 4px 28px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
    background-color: #1f2937;
    color: white;
}